{% extends 'base.html' %}

{% load static %} 

{% block title %}

حسابداری پویا 
{% endblock %}

{% block content %}


<div class="container">
  <div class="card-home">
    <div onclick="coming_soon()" class="card-item-home">
      <div>
        <img src="{% static 'images/shop.png' %}" />

        <h4 class="heading-item-card">مدیریت فروشگاه</h4>
      </div>
    </div>
    <div onclick="coming_soon()" class="card-item-home">
      <div>
        <img src="{% static 'images/analyses.png' %}" />

        <h4 class="heading-item-card">گزارشات</h4>
      </div>
    </div>

    <div onclick="coming_soon()" class="card-item-home">
      <div>
        <img src="{% static 'images/product.png' %}" />

        <h4 class="heading-item-card">محصولات من</h4>
      </div>
    </div>

    <div onclick="coming_soon()" class="card-item-home">
      <div>
        <img src="{% static 'images/customer.png' %}" />

        <h4 class="heading-item-card"> مشتریان من </h4>
      </div>
    </div>

    <div onclick="coming_soon()" class="card-item-home">
      <div>
        <img src="{% static 'images/support.png' %}" />

        <h4 class="heading-item-card"> پشتیبانی سایت</h4>
      </div>
    </div>

    <div onclick="coming_soon()" class="card-item-home">
      <div>
        <img src="{% static 'images/logout.png' %}" />

        <h4 class="heading-item-card"> خروج</h4>
      </div>
    </div>
  </div>
</div>

{% endblock %}

