{% extends 'base.html' %}

{% load static %} 

{% block title %}

حسابداری پویا 
{% endblock %}

{% block content %}


<div class="container">
  {% if request.user.is_authenticated %}


  <div class="card-home">
    <div onclick="coming_soon()" class="card-item-home">
      <div>
        <img src="{% static 'images/shop.png' %}" />

        <h4 class="heading-item-card">مدیریت فروشگاه</h4>
      </div>
    </div>

    <a href="{% url 'sale:sale' %}" style="text-decoration: none;">
      <div  class="card-item-home">
        <div>
          <img src="{% static 'images/sel-home.png' %}" />
  
          <h4 class="heading-item-card"> فروش محصولات  </h4>
        </div>
      </div>
  
    </a>
    <a href="{% url 'accounts:reports' %}" style="text-decoration: none;">

    <div  class="card-item-home">
      <div>
        <img src="{% static 'images/analyses.png' %}" />

        <h4 class="heading-item-card">گزارشات</h4>
      </div>
    </div>
    </a>
    <a href="{% url 'product:list' %}" style="text-decoration: none;">

    <div  class="card-item-home">
      <div>
        <img src="{% static 'images/product.png' %}" />

        <h4 class="heading-item-card">محصولات من</h4>
      </div>
    </div>
    </a>

  <a href="{% url 'customer:list' %}" style="text-decoration: none;">
    <div  class="card-item-home">
      <div>
        <img src="{% static 'images/customer.png' %}" />

        <h4 class="heading-item-card"> مشتریان من </h4>
      </div>
    </div>

  </a>

  
 
  <a href="{% url 'contact:index' %}" style="text-decoration: none;">

    <div  class="card-item-home">
      <div>
        <img src="{% static 'images/support.png' %}" />

        <h4 class="heading-item-card"> پشتیبانی سایت</h4>
      </div>
    </div>
</a>
  <a href="{% url 'accounts:logout' %}" style="text-decoration: none;">
    <div class="card-item-home">
      <div>
        <img src="{% static 'images/logout.png' %}" />

        <h4 class="heading-item-card"> خروج</h4>
      </div>
    </div>
  </a>
  </div>
  {% else %}
  <div class="card-no-data">
    <div style="display: flex;height: 100%;justify-content: center;align-items: center; ">

    <h4 class="heade-card-no-data">هیچ اطلاعاتی برای شما یافت نشد !!<br/><span style="font-size: 20px ;">وارد حساب کاربری خود شوید </span></h4>
    </div>
    <div style="display: flex;height: 100%;justify-content: center;align-items: center;">
      <img class="img-nodata" src="{% static 'images/nodata.svg' %}"/>
    </div>
   <div style="display: flex;height: 100%;justify-content: center;align-items: center;">
    <p class="text-card-no-data">
      برای داشتن یک سیستم مدیریت فروش و محصول و مشتری  برای فروشگاه خود میتوانید از سیستم حسابداری <span style="color: #11A5C3; font-size: 40px;"> پویا  </span> که توسط  تیمی جوان و با تجربه ساخته شده است استفاده کنید و با کمترین قیمت به همه امکانات فرروشگاهی خود دسترسی و گزارش هایی از عملکرد فروشگاه خود  وارسی کنید .


   </p>
  </div>

  {% endif %}
</div>



{% endblock %}

