{% load static %}

<div class="container">
  <div class="footer">
    <div class="footer-right">
      <div class="img-footer">
        <img class="logo" src="{% static 'images/logo.png' %}" />
      </div>
      <form>
        <input
          class="form-control"
          style="height: 40px"
          type="text"
          placeholder="ایمیل خود ار وارد کنید "
        />
        <button class="btn-footer">دنبال کردن</button>
      </form>
    </div>

    <div class="footer-center">
      <div class="security-img">
        <img class="" src="{% static 'images/security.png' %}" />
      </div>
      <h3 class="text-security">نماد اعتماد الکتریکی</h3>
    </div>

    <div class="footer-left">
      <h5 class="heade-footer">سیستم حسابداری پویا</h5>
      <p class="text-heade-footer">
        سیستم حسابداری پویا با قابلیت های ثبت کارکرد و عملکرد فروشگاه برای
        دسترسی راحت و سریع مدیر فروشگاه در مدیریت کردن سیستم فروش و محصولات و
        مشتریان در اختیار شما دوستان .
      </p>
    </div>
  </div>
</div>
