@font-face {
  font-family: avini;
  src: url("avini.ttf");
}
.header {
  background: rgba(13, 202, 240, 0.3);
  border-radius: 20px;
  height: 60px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 1px solid rgba(13, 202, 240, 0.69);
}

body {
  background-color: #212121;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: avini;
  font-size: 20px;
}
.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-header {
  color: white;
  font-size: 25px;
}

.logo {
  width: 120px;
  height: 50px;
}
.header-left {
  display: flex;
  justify-content: end;
  align-items: end;
}

.icon {
  width: 40px;
  height: 40px;
}

.card-home {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 40px;
}
.card-item-home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 300px;
  height: 200px;
}
.heading-item-card {
  color: white;
  font-size: 25px;
  text-align: center;
}
.footer {
  background: rgba(13, 202, 240, 0.3);
  border-radius: 20px;
  height: max-content;
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 40px;
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 1px solid rgba(13, 202, 240, 0.69);
}
.footer-right{
align-items: center; 
}
.img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-footer {
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  padding: 12px 17px;
  border: 0;
  border-radius: 7px;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse at bottom,
    rgb(53, 71, 90) 0%,
    rgba(11, 21, 30, 1) 45%
  );

  color: rgb(255, 255, 255, 0.66);
  height: 40px;
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.btn-footer::before {
  content: "";
  width: 70%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 15%;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}


.footer-center{
  display: flex;
  justify-content: center;

}
.text-security{
  color: white;
}
.heade-footer{
  color: white;
  font-size: 28px;
}
.text-heade-footer{
  color: #212121;
  font-size: 22px;
}