@font-face {
  font-family: avini;
  src: url("avini.ttf");
}
*{
  color: white;
}
.header {
  background: rgba(13, 202, 240, 0.3);
  border-radius: 20px;
  height: 60px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 1px solid rgba(13, 202, 240, 0.69);
}

body {
  background-color: #212121;
  padding: 20px 0px;
  margin: 0px;
  border: 0px;
  font-family: avini;
  font-size: 20px;
}
@keyframes ani_nodata {
  from {
    box-shadow: 0px 0px 15px 0px #0DCAEF;
  }
  to {
    box-shadow: 0px 0px 15px -5px #516a6f;
  }
}
@keyframes ani_card_item {
  from {
    box-shadow: 0px 0px 15px 0px #FB86B2;
  }
  to {
    box-shadow: 0px 0px 15px -5px #a67286;
  }
}
.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-header {
  color: white;
  font-size: 25px;
}

.logo {
  width: 120px;
  height: 50px;
}
.header-left {
  display: flex;
  justify-content: end;
  align-items: end;
}

.icon {
  width: 40px;
  height: 40px;
}

.card-home {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 40px;
}
.card-item-home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 300px;
  height: 200px;
}
.card-item-home:hover{
  animation: ani_card_item 0.5s ease-in-out infinite alternate;
}
.heading-item-card {
  color: white;
  font-size: 25px;
  text-align: center;
}
.footer {
  background: rgba(13, 202, 240, 0.3);
  border-radius: 20px;
  height: max-content;
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 40px;
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 1px solid rgba(13, 202, 240, 0.69);
}
.footer-right{
align-items: center; 
}
.img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-footer {
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  padding: 12px 17px;
  border: 0;
  border-radius: 7px;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse at bottom,
    rgb(53, 71, 90) 0%,
    rgba(11, 21, 30, 1) 45%
  );

  color: rgb(255, 255, 255, 0.66);
  height: 40px;
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.btn-footer::before {
  content: "";
  width: 70%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 15%;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}


.footer-center{
  display: flex;
  justify-content: center;

}
.text-security{
  color: white;
}
.heade-footer{
  color: white;
  font-size: 28px;
}
.text-heade-footer{
  color: #212121;
  font-size: 22px;
}

#modal-login{
  background-color: #212121;
  color: white;
  font-size: 25px;
}

.modal{
  background-color: rgba(0, 153, 224, 0.063);
}

.card-no-data{
  color: white;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 20px ;
  border-radius: 20px;
  border: 1px solid #FB86B2;
  padding: 30px;
  animation: ani_nodata 0.5s ease-in-out infinite alternate;
  
}
.img-nodata{
  width: 300px;
  height: 300px;
  margin: -30px 0px;
}
.heade-card-no-data{
  color: white;
  background-color: rgba(255,0,0,0.6);
  text-align: center;
  font-size: 27px;
  display: inline;
  padding: 5px 40px;
  border-radius: 20px;
}
.text-card-no-data{
  width:350px;
  text-align: center;
  font-size: 24px;
}
.form-div-reigster{
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #0DCAEF;
  margin-top: 30px;
}

.form-head{
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div-reigster form{
  width: 80%;
  margin: 0 auto;
  height: max-content;
  border: 1px solid #a67286;
  border-radius: 20px;
  padding: 30px;
}


.item-input label{
  font-size: 22px;
}
.item-input input{
  width: 100%;
  font-size: 20px;
  color: black;
}
.item-input button,a{
font-size: 20px;
}
table thead tr td {
  font-size: 21px;
  text-align: center;
}
table tbody tr td {
  font-size: 20px;
  text-align: center;
}

.customers-div-right{
  display: felx;

}
.customers-div{
  margin-bottom: 20px;
  margin-top: 10px;
}
.customers-div-left{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 12px;
  gap: 8px;
}

.customer-detail{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 20px;
}